<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <title>Warzone Loadouty</title>
</head>
<body>
    <h1>Seznam Loadoutů</h1>

    {% for loadout in loadouts %}
        <div>
            <h2>{{ loadout.weapon.name }}</h2>
            <p>Perk: {{ loadout.perk.name }}</p>
            <p>Příslušenství:</p>
            <ul>
                {% for attachment in loadout.attachments.all %}
                    <li>{{ attachment.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <hr>
    {% empty %}
        <p>Žádné loadouty zatím nejsou.</p>
    {% endfor %}
</body>
</html>